@import "variables";

.filter-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  background: $white;
  padding-left: 10px;
  padding-right: 10px;
 border-radius: 7px;
  .filter-title{
    display: flex;
    flex-direction: row;
    i{
      display: flex;
      align-items: center;
      font-size: 30px;
      margin-right: 5px;
    }
  }

  .filter-children{
    display: flex;
    flex-direction: row;
  }


}